<!DOCTYPE html>

<html>
  <head>
    <title></title>
  </head>

  <body>
    <h1>Vyhladavac narodenin znamych osobnosti</h1>

    <h2>Hladat podla:</h2>
    <ul>
      <li><a href="/search/name">Mena</a></li>
      <li><a href="/search/date">Datumu</a></li>
      <li><a href="/search/date-year">Datumu a roku</a></li>
      <li><a href="/search/day">Dna</a></li>
      <li><a href="/search/month">Mesiaca</a></li>
      <li><a href="/search/year">Roku</a></li>
      <li><a href="/search/nation">Narodnosti</a></li>
      <li><a href="/search/profession">Profesie</a></li>
    </ul>
  </body>
</html>
