<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8">
    <title>Vyhľadávač</title>
    <link rel="stylesheet" href="/static/style.css" type="text/css">
  </head>

  <body>
    <h1>Vyhľadávač narodenín známych osobností</h1>

    <h2>Hľadať podľa:</h2>
    <ul>
      <li><a href="/search/name">Mena</a></li>
      <li><a href="/search/date">Dátumu</a></li>
      <li><a href="/search/date-year">Dátumu a roku</a></li>
      <li><a href="/search/day">Dňa</a></li>
      <li><a href="/search/month">Mesiaca</a></li>
      <li><a href="/search/year">Roku</a></li>
      <li><a href="/search/nation">Národnosti</a></li>
      <li><a href="/search/profession">Profesie</a></li>
    </ul>
  </body>
</html>
