<!DOCTYPE html>

<html>
  <head>
    <title>Vyhladavac podla povolania</title>
  </head>

  <body>
    <p><a href="/"><--</a></p>
    <h1>Vyhladavac narodenin znamych osobnosti</h1>
    <p><i>Podla povolania</i></p>
    <form action="/search/profession" method="post">
      <input type="text" name="profession" placeholder="Zadajte povolanie (ANGLICKY)">
      <input type="submit" value="Hladaj" name="submit_btn">
    </form>

    <p>Priklady: writer, table tennis player, entrepreneur, author, cyclist, archbishop, silent film actress...</p>

    <table>
      {% if rows is defined %}
        {% for key, value in rows.items() %}

          <tr>
            <td> {{ value['person_born_day'] }}. </td>
            <td> {{ value['person_born_month'] }}. </td>
            <td> {{ value['person_born_year'] }} </td>
            <td> </td>
            <td><strong> {{ value['person_name'] }} </strong></td>
            <td> </td>
            <td> {{ value['person_description'] }} </td>
          </tr>

        {% endfor %}
      {% endif %}
    </table>

      {% if messages is defined %}
        {% for msg in messages %}

          <p><strong> {{ msg }} </strong></p>

        {% endfor %}
      {% endif %}
  </body>
</html>
