<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8">
    <title>Vyhľadávač</title>
    <link rel="stylesheet" href="/static/style.css" type="text/css">
  </head>

  <body>
    <p><a href="/"><--</a></p>
    <h1>Vyhľadávač narodenín známych osobností</h1>
    <p><i>Podľa dátumu</i></p>
    <form action="/search/date" method="post">
      <input type="number" name="day" min="1" max="31" placeholder="Zadajte den">
      <input type="number" name="month" min="1" max="12" placeholder="Zadajte mesiac">
      <input type="submit" value="Hladaj" name="submit_btn">
    </form>

    <table>
      {% if rows is defined %}
        {% for key, value in rows.items() %}

          <tr>
            <td> {{ value['person_born_day'] }}. </td>
            <td> {{ value['person_born_month'] }}. </td>
            <td> {{ value['person_born_year'] }} </td>
            <td> </td>
            <td><strong> {{ value['person_name'] }} </strong></td>
            <td> </td>
            <td> {{ value['person_description'] }} </td>
          </tr>

        {% endfor %}
      {% endif %}
    </table>

      {% if messages is defined %}
        {% for msg in messages %}

          <p><strong> {{ msg }} </strong></p>

        {% endfor %}
      {% endif %}
    </table>
  </body>
</html>
